/target
*.sqlite
*.sqlite-wal
*.sqlite-shm
.env
/teslamate-rs.sqlite*
*.deb
/debian/cargo_home
/debian/cargo_registry
/debian/cargo_out_dir
/debian/files
/debian/teslamate-rs
/debian/*.substvars
/debian/*.debhelper
/debian/*.debhelper.log
/debian/.debhelper
/debian/debhelper-build-stamp

/.cargo-checksum.json
